* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(37, 37, 187), rgb(34, 88, 250));
  font-family: sans-serif;
  color: white;
}

/* CURRENT WEATHER */
.location {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

#location-country {
  margin-left: 10px;
}

.weather-icon {
  height: 40vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.temperature {
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  margin: 0;
}

.temperature-degree-section {
  display: flex;
  align-items: center;
}

.temperature-degree {
  cursor: pointer;
}

.temperature-degree-section > span {
  font-size: larger;
  margin: 10px;
}

.temperature-degree-feels {
  height: 8vh;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
}

.temperature-degree-feels > h3 {
  margin-right: 2px;
  cursor: pointer;
}

.temperature-degree-feels > span {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 15px;
}

.wind {
  height: 8vh;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
}

.wind > h4 {
  margin-right: 2px;
  margin-left: 5px;
}

/* FUTURE WEATHER */
.future-weather {
  width: 550px;
  position: absolute;
  bottom: 100px;
  left: auto;
  display: flex;
  flex: 1;
  text-align: center;
}

.first-day,
.second-day,
.third-day,
.fourth-day {
  height: 80%;
  width: 20%;
  margin: auto;
}

.first-day h4,
.first-day div,
.first-day h5,
.second-day h4,
.second-day div,
.second-day h5,
.third-day h4,
.third-day div,
.third-day h5,
.fourth-day h4,
.fourth-day div,
.fourth-day h5 {
  margin: 6px 0;
}
