* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(37, 37, 187), rgb(34, 88, 250));
  font-family: sans-serif;
  color: white;
}

/* CURRENT WEATHER */
.location {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -15%);
}

#location-country {
  margin-left: 10px;
}

.weather-icon {
  height: 40vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.temperature {
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  margin: 0;
}

.temperature-degree-section {
  display: flex;
  align-items: center;
}

.temperature-degree {
  cursor: pointer;
}

.temperature-degree-section > span {
  font-size: larger;
  margin: 10px;
}

.temperature-degree-feels {
  height: 8vh;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
}

.temperature-degree-feels-like {
  margin-right: 2px;
  cursor: pointer;
}

.temperature-degree-feels > span {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 15px;
}

.wind {
  height: 8vh;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
}

.wind-speed {
  margin-right: 2px;
  margin-left: 5px;
}

/* FUTURE WEATHER */
.future-weather {
  width: 550px;
  position: absolute;
  bottom: 150px;
  left: auto;
  display: flex;
  flex: 1;
  text-align: center;
}

.first-day-wind-speed-div,
.second-day-wind-speed-div,
.third-day-wind-speed-div,
.fourth-day-wind-speed-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.first-day,
.second-day,
.third-day,
.fourth-day {
  height: 80%;
  width: 20%;
  margin: auto;
}

.first-day-name,
.first-day-icon,
.first-day-description,
.first-day-temp,
.first-day-wind-speed,
.first-day-wind-direction,
.second-day-name,
.second-day-icon,
.second-day-description,
.second-day-temp,
.second-day-wind-speed,
.second-day-wind-direction,
.third-day-name,
.third-day-icon,
.third-day-description,
.third-day-temp,
.third-day-wind-speed,
.third-day-wind-direction,
.fourth-day-name,
.fourth-day-icon,
.fourth-day-description,
.fourth-day-temp,
.fourth-day-wind-speed,
.fourth-day-wind-direction {
  margin: 6px 0;
}

/* SMALLER SCREEN DEVICES */
@media only screen and (max-width: 620px) {
  /* FUTURE WEATHER */
  .future-weather {
    width: 90vw;
    bottom: 100px;
  }
}
