* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  position: absolute;
  padding: 0 1%;
  width: 98%;
}

.container > .menu {
  float: left;
  height: 99vh;
  width: 15%;
  border-right: 3px solid black;
  text-indent: 5%;
  font-size: 25px;
  position: sticky;
  top: 5px;
  left: 0;
}

.container > .menu > ul {
  margin-top: 150px;
  list-style-type: none;
}

.container > .menu > ul > li {
  margin: 15px 0;
}

.container > .menu > ul > li > a {
  text-decoration: none;
  color: black;
}

.container > .articles {
  float: right;
  width: 84%;
}

.container > .articles > section {
  height: 89vh;
  padding-top: 8%;
}

.container > .articles > section > article > p {
  font-size: 20px;
}
